[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.tf]
indent_size = 2

[*.sh]
indent_size = 2

[{**.ts,**.tsx,**.js}]
indent_style = tab
indent_size = 2

[*.styl]
indent_style = tab
indent_size = 2

[{Makefile,**.mk}]
indent_style = tab
indent_size = 2

[{**.yml,**.yaml}]
indent_style = space
indent_size = 2

[*nginx.conf]
indent_style = tab
indent_size = 2
